.__pycache__
.__pycache__/*
*.pyc
PythonSudoku.spec
build/PythonSudoku/Analysis-00.toc
build/PythonSudoku/base_library.zip
build/PythonSudoku/EXE-00.toc
build/PythonSudoku/PKG-00.pkg
build/PythonSudoku/PKG-00.toc
build/PythonSudoku/PythonSudoku.exe.manifest
build/PythonSudoku/PYZ-00.pyz
build/PythonSudoku/PYZ-00.toc
build/PythonSudoku/Tree-00.toc
build/PythonSudoku/Tree-01.toc
build/PythonSudoku/Tree-02.toc
build/PythonSudoku/warn-PythonSudoku.txt
build/PythonSudoku/xref-PythonSudoku.html
dist/PythonSudoku.exe
dist/PythonSudokuSolver.exe
